.videos-list-container {
  width: 80%;
}

thead {
  cursor: pointer;
}

.sort {
  font-weight: 800;
  &::after {
    margin-left: 5px;
  }
}

.ascending::after {
  content: '↑';
}
.descending::after {
  content: '↓';
}
